<style>
  .feaute-icon-pd-container{
display:flex;
flex-direction:column;
}
</style>

<div class="product-feature-block-icon" {{ block.shopify_attributes }}>
 {% comment %} <div class="feaute-icon-pd-container">
    <div class="feature-content-pd-wrap">
        <img src="{{ block.settings.main-pd-img1 | img_url: '' }}" loading="lazy" width="100%" height="auto" alt="icon" />
        <div class="pd-text-1">{{ block.settings.main-pd-text1 }}</div>
    </div>
    <div class="feature-content-pd-wrap">
        <img src="{{ block.settings.main-pd-img2 | img_url: '' }}" loading="lazy" width="100%" height="auto" alt="icon" />
        <div class="pd-text-1">{{ block.settings.main-pd-text2 }}</div>
    </div>
    <div class="feature-content-pd-wrap">
        <img src="{{ block.settings.main-pd-img3 | img_url: '' }}" loading="lazy" width="100%" height="auto" alt="icon" />
        <div class="pd-text-1">{{ block.settings.main-pd-text3 }}</div>
    </div>
 </div> {% endcomment %}
</div>
