<style>
.section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background-color: {{ section.settings.back_color }};
}
.sc-txt{
color: #FFF;
text-align: center;
font-family: "League Spartan";
font-size: 48px;
font-style: italic;
font-weight: 500;
line-height: 58px; /* 120.833% */
text-transform: uppercase;
max-width:1020px;
margin:0 auto;
}
@media screen and (max-width:768px){
.section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mbl_padding_top }}px;
    padding-bottom: {{ section.settings.mbl_padding_bottom }}px;
  }
.sc-txt{
font-size: 28px;
font-style: italic;
font-weight: 500;
line-height: 32px; /* 114.286% */
max-width:300px;
}

  
}  



</style>



<section class="section-{{ section.id }}-padding fade-up">
  <div class="page-width">
   <div class="sc_txt_wrap">
    <div class="sc-txt">{{ section.settings.sc_txt }}</div>
   </div>
  </div>
</section>







{% schema %}
  {
    "name": "SC Text Section",
    "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 10
    },
    {
      "type": "range",
      "id": "mbl_padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Mobile Top Padding",
      "default": 10
    },
    {
      "type": "range",
      "id": "mbl_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Mobile Bottom Padding",
      "default": 10
    },
    {
      "type": "color",
      "id": "back_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "sc_txt",
      "label": "Main Heading"
     }
    ],
    "presets": [
      {
        "name": "SC Text Section"
      }
    ]
  }
{% endschema %}